.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1d3987;
  padding-bottom: 2rem;
}

.aboutContainer h2 {
  font-size: 2rem;
}

.aboutParagraph {
  width: 52vw;
}

.aboutParagraph h2 {
  font-size: 2rem;
  text-align: center;
}

.aboutParagraph p {
  font-size: 1.25rem;
  text-align: center;
}

.aboutBullets p {
  font-size: 1.2rem;
  text-align: left;
  padding-left: 1rem;
  display: flex;
  align-items: center;
}

.span {
  margin-left: 1rem;
}
