.submitImageContainer {
  display: flex;
  justify-content: space-between;
}

.submitImage {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.submitImage input {
  display: none;
}

.submitImage label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 2.3rem;
  font-size: 1rem;
  background-color: #000000;
  border: 2px solid #1b202b;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
}

.submitImage label:hover {
  background-color: #1b202b;
}

.submitImage button {
  width: 15rem;
  height: 2.3rem;
  font-size: 1rem;
  background-color: #1d3987;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
}

.submitImage button:hover {
  background-color: #162c68;
}
