.loggedInMain {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* align-items: center; */
  align-content: space-around;
  background-color: #1b202b;
}

.loggedInInfo {
  display: flex;
  justify-content: space-evenly;
}

.loggedInAccount {
  padding: 0 2rem;
  text-align: center;
  width: 25rem;
  height: 26rem;
  border: 0.5px solid #9b9b9b;
  border-radius: 7px;
}

.loggedInAccount h2 {
  color: #0070f3;
}

.loggedInAccount__type {
  font-size: 80%;
  margin-top: -0.6rem;
  text-align: center;
  color: #e78db3;
}

.loggedInAccount section {
  text-align: left;
}

.loggedInSearch {
  display: flex;
  justify-content: center;
}
