.loggedInMain {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: space-around;
  background-color: #1b202b;
}

.form {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 5% 0;
}

.form_input {
  background-color: #ffffff;
  color: #000000;
  width: 20rem;
  height: 3rem;
  font-size: 0.7rem;
  outline: none;
  padding: 0 10px;
  border: 1px solid #1d3987;
  border-radius: 4px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.form_button {
  background-color: #1d3987;
  color: #ffffff;
  width: 8rem;
  height: 3rem;
  margin-left: 1rem;
  font-size: 1rem;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 4px 4px 4px 4px;
  cursor: pointer;
}

.form_button:hover {
  background-color: #162c68;
}

.searchParagraph {
  color: #e78db3;
  margin-bottom: -0.8rem;
}
